* {
    box-sizing: border-box;
  }
  
body 
{
    color: black;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}

main  
{
    margin: 10px;
    border: black 5px;
    padding: 10px ;
}

.logo
{
    max-width: 150px;
    max-height: 150px; 
}


.box
{
    background-color: rgb(0, 83, 128);
    margin: 10px 5px;
    border-radius: 15px;
    padding: 10px;
    color: white;
}



.navigation
{
    background-color: rgb(162, 198, 218);
    margin: 10px 5px;
    padding: 10px;
    color: white;
    display:inline-block;
}

#nav
{
    margin: auto;
    width: 300px;
}

.event
{
    margin: 10px 5px;
    border: black 2px;
    border-style: dotted;
    padding: 10px;
    float:left;
    width: 320px;
    height: 200px;
}

.event h2 
{
    width: 290px;
    height: 60px;
}

.button
{
    background-color: rgb(128, 0, 119);
    margin: 5px 5px;
    padding: 5px;
    color: white;
}

table
{

}